/* CSS Document */

footer {
	margin-top: 0;
	align-self: center;
	display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

body {
	height: 100vh;
	background-color: black;
}

@media screen and (max-width: 750px) {
	footer {
		margin-top: 50px;
	}
}