@charset "utf-8";
/* CSS Document */

body {
	background: #DCDCDC;
	color: black;
	font-family: 'Teko', sans-serif;
}

i {
	color: black;
}

/********************************************/
/*******************HEADER*******************/
/********************************************/

.header {
	width: 100%;
	background: #BFBFBF;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	box-shadow: 0 8px 6px #aaaaaa;
}

.menu {
	display: flex;
	flex-direction: row;
	list-style: none;
}

.menuItem {
	font-size: 30px;
	color: black;
	width: 200px;
	height: 110px;
	display: flex;
  	justify-content: center;
  	align-items: center;
	
}

.menu a:link,
.menu a:visited{
	text-decoration: none;
}
.menu a:hover,
.menu a:active{
	text-decoration: none;
	background: white;
}

.logoImage{
	max-width: 100%;
    max-height: 100%;
}
	
.social {
	display: flex;
	flex-direction: row;	
	align-self: flex-end;
	font-size: 30px;
	text-align: center;
}

.socialItem {
	width: 40px;
}

.fab:hover,
.fab:active{
	color:#7F7F7F;
}

/*******************************************/
/**********MY PROJECTS NAV******************/
/*******************************************/

.myProjectsNav{
	background: white;
	position: absolute;
	padding: 20px;
	width: 100%;
	display: flex;
	flex-direction: row;
	visibility: hidden;
	
}

.myProject{
	margin-left: 20px;
}

.myProject:first-of-type {
	margin-left: 0;
}

.myProject a:hover,
.myProject a:active{
	background: #A8A8A8;
}

.menuImages{
	max-width: 100%;
}


/*******************************************/
/*******************MOBILE MENU*************/
/*******************************************/

.mobileMenu {
	visibility: hidden;
	display: none;
	
}

.mobileMenuContent{
	visibility: hidden;
	display: none;
}

/*******************************************/
/*******************PHOTO*******************/
/*******************************************/

.photoWrapper{
	display: flex;
	justify-content: center;
	margin-top: 30px;
}

.photo {
	height: auto;
	width: 80%;
}

/******************************************/
/*******************MAIN*******************/
/******************************************/

.main {
	height: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
}

.mainHeading{
	font-size: 2em;
}

.mainParagraph {
	text-align: center;
	font-size: 1.5em;
}


/******************************************/
/*******************PROJECTS***************/
/******************************************/


.project {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.projectLeft {
	justify-content: flex-start;
}

.projectRight {
	justify-content: flex-end;
}

.verticalImage {
	display: flex;
	margin: 20px;
	width: 45%;
	height: auto;	
}

.leftImage {
	order: 1;
}

.rightImage {
	order: 2;
}

.textWrapper {
	display: flex;
	align-items: flex-end;
	margin: 20px;
	width: 40%;
	font-size: 1.5em;
}

.rightTextWrapper {
	order: 2;
}
.leftTextWrapper {
	order: 1;
}

.twoImages {
	display: flex;
}

.twoImagesLeft {
	order: 1;
}

.twoImagesRight {
	order: 2;
}

.twoImagesVertical {
	flex-direction: row;
}

.twoImagesHorizontal {
	flex-direction: column;
}

.horizontalImage {
	display: flex;
	max-width: 100%;
	height: auto;
	margin: 20px;
}

.images {
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
}

/********************************************/
/*******************FOOTER*******************/
/********************************************/

footer {
	background: black;
	color: white;
	margin-top: 20px;
}

.footerLogo {
	max-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footerLogoImage{
	margin-top: 10px;
}

.footerInfo {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.footerItem {
	list-style: none;
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 20px;
}

.footerItemSocialMedia {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

footer ul li i {
	color: white;
}

.footerCopyright {
	height: 20px;
	width: 100%;
	text-align: center;
	font-size: 15px;
}

.footerInfo a:link,
.footerInfo a:visited {
	color: white;
}
.footerInfo a:hover,
.footerInfo a:active{
	text-decoration: none;
}


/*******************************************/
/****************GRID***********************/
/*******************************************/

/*desktop*/
@media screen and (min-width: 1001px) and (max-width: 1200px) {
	
	.menuItem {
		width: 150px;
		height: 80px;	
		font-size: 16px;
	}
	
	.socialItem {
		width: 30px;
		font-size: 25px;
	}
	
	.main{
		height: 250px;
	}
	
	.mainHeading{
		font-size: 1.8em;
	}
	
	.mainParagraph{
		font-size: 1.6em;
	}
	
	.footerLogoImage{
		width: 80px;
	}
	
	.myProject {
		margin-left: 16px;
	}
	
	.mobileMenu {
		visibility: hidden;
		display: none;
	}

	.mobileMenuContent {
		visibility: hidden;
		display: none;
	}	
}

/*tablet*/
@media screen and (min-width: 751px) and (max-width: 1000px){
	
	.menuItem {
		width: 100px;
		height: 50px;
		font-size: 12px;
	}
	
	.socialItem {
		width: 25px;
		font-size: 17px;
	}
	
	.main{
		height:
			200px;
	}
	
	.mainHeading{
		font-size: 1.7em;
	}
	
	.mainParagraph{
		font-size: 1.5em;
	}
	
	.footerLogoImage{
		width: 70px;
	}
	
	.myProject {
		margin-left: 12px;
	}
	
	.mobileMenu {
		visibility: hidden;
		display: none;
	}

	.mobileMenuContent {
		visibility: hidden;
		display: none;
	}
}

/*mobile*/
@media screen and (max-width: 750px) {
	
	.header {
		visibility: hidden;
		display: none;
	}
	
	.myProjectsNav {
		visibility: hidden;
		display: none;
	}
	
	.myProject {
		visibility: hidden;
	}
	
	.main{
		height: 150px;	
	}
	
	.mainHeading{
		font-size: 1.5em;
	}
	
	.mainParagraph{
		font-size: 1.3em;
	}
	
	.project {
		flex-direction: column;
		align-items: center;
	}
	
	.verticalImage {
		align-self: center;
	}
	
	.horizontalImage {
		max-width: 100%;
		align-self: center;
	}
	
	.twoImages {
		padding: 0 20px;
	}
	
	.twoImagesVertical {
		flex-direction: column;
	}
	
	.textWrapper {
		order: 2;
		text-align: center;
	}
	
	.footerLogoImage{
		width: 60px;
	}
	
	.footerInfo {
		flex-direction: column;
		align-items: center;
        text-align: center;
	}
	
	.mobileMenu {
		display: flex;
		width: 50px;
		height: 50px;
		background: #BFBFBF;
		box-shadow: 6px 4px 10px #aaaaaa;
		position: fixed;
		top: 0;
		left: 0;
		visibility: visible;
		z-index: 2;
	}
	
	.mobileMenu img{
		margin-top: 4px;
	}

	.mobileMenuContent {
		width: 100%;
		height: 100vh;
		position: fixed;
		top: 0;
		background: #aaaaaa;
		visibility: hidden;
		z-index: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;	
	}
	
	.mobileMenuList {
		align-self: center;
		justify-content: center;
		list-style: none;
        text-align: center;
		font-size: 1.5em;
	}
	
	.firstLi{
		color: white;
	}
	
	.mobileMenuList a:link,
	.mobileMenuList a:visited{
		text-decoration: none;
		color: black;
	}
	.mobileMenuList a:hover,
	.mobileMenuList a:active{
		text-decoration: none;
		color: white;
	}
}
	




